:root {
    box-sizing: border-box;
}

.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 500px;
    width: 500px;
    margin: 10px 40rem;
}
.block {
    border: 2px solid black;
    font-size: 120px;
    text-align: center;
    color: crimson;
}

.blue {
    border: 2px solid black;
    background-color: darkblue;
    font-size: 120px;
    text-align: center;
    color: crimson;
}

h1 {
    font-size: 90px;
    color: crimson;
    text-align: center;
    margin: 0 40rem;
    width: 500px;

}

.button-container {
    margin: 20px 40rem;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 500px;
}
button {
    margin: auto;
    font-size: 30px;
}

.score {
    margin: 20px 40rem;
    font-size: 30px;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    width:500px;
}

.player-one, .player-two {
    margin: auto;
    font-size: 30px;
}

.winner {
    margin: 20px 40rem;
    font-size: 45px; 
}
    